/*style.css*/

@font-face {
font-family: PenultimateLight;
src: url(../FONTS/PenultimateLight_Regular.ttf);
}

html {
width: 100%;
height: 100%;
}

body{
width: 100%;
height: 100%;
background: url("../IMG/crowd.jpg");
-o-background-size: cover !important;
-moz-background-size: cover !important;
-webkit-background-size: cover !important;
background-size: cover !important;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}

@media (min-width: 992px) {
  .container-fluid {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    width: 1170px;
  }
}

.body-item{
margin-top: 30px;
}

.height-300{
height: 300px;
}

.cover{
width: 100% !important;
overflow: hidden;
}

.shadow{
box-shadow: 0px 0px 1px 1px rgba(20,20,20,0.2);
}

header{
background-color: rgba(52,56,56,0.9);
height: 120px;
}

header .logo_wrapper{
height: 120px;
width: 100%;
float: left;
}

header .logo_wrapper .logo{
float: left;
height: 120px;
width: 120px;
background: url("../IMG/logo.jpg");
background-size: 100%;
background-repeat: no-repeat;
background-position: center;
}

header .logo_wrapper .text{
Line-height: 80px;
float: left;
font-family: PenultimateLight;
font-size: 65px;
color: rgb(210,210,210);
padding: 20px;
box-sizing: border-box;
}

nav{
background-color: rgba(0,140,158,0.9);
height: 80px;
font-size: 0px;
}

nav ul{
float: left;
list-style: none;
height: 80px;
width: calc(100% - 240px);
padding: 20px;
box-sizing: border-box;
}

.active{
background-color: rgb(1, 165, 187);
}

nav>ul>li{
float: left;
width: 80px;
height: 40px;
border-right: dashed 1px rgba(210,210,210,0.5);
}

nav>ul>li:last-child{
border: none;
}

nav>ul>li:hover>a{
background-color: rgb(0,180,204);
color: rgb(250,250,250);
text-decoration: none;
}

nav>ul>li>a{
display: block;
line-height: 40px;
text-align: center;
font-family: Helvetica;
font-size: 17px;
color: rgb(210,210,210);
text-decoration: none;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: rgba(0,140,158,0.7);
min-width: 80px;
top:100%;
z-index: 1000;
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
}

/* Links inside the dropdown */
.dropdown-content a {
display: block;
line-height: 40px;
text-align: center;
font-family: Helvetica;
font-size: 17px;
color: rgb(210,210,210);
text-decoration: none;
}


.dropdown-content>a:hover{
background-color: rgb(0,180,204);
color: rgb(250,250,250);
text-decoration: none;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

.caret {
display: inline-block;
width: 0;
height: 0;
margin-left: 80px;
vertical-align: middle;
border-top: 4px solid;
border-right: 4px solid transparent;
border-left: 4px solid transparent;
display:none;
}

nav div.search-bar{
float: left;
height: 80px;
width: 240px;
font-size: 15px;
margin: 0px;
box-sizing: border-box;
padding: 20px;
padding-left: 0px;
}

div.search-bar input{
outline: none;
float: left;
height: 40px;
border: none;
padding: 5px;
box-sizing: border-box;

}

div.search-bar input[type=text]{
width: 140px;
background-color: rgb(200,210,250);
}

div.search-bar input[type=submit]{
width: 80px;
background-color: rgb(0,180,204);
color: rgb(250,250,250);
}

div.search-bar input[type=submit]:hover{
background-color: rgb(30,190,254);
}

article{
background-color: rgba(52,56,56,0.9);
min-height: 400px;
box-sizing: border-box;
padding: 20px;
padding-top: 0px;
}

.box{
display: block;
min-height: 100px;
background-color: rgba(0,140,158,0.8);
overflow: hidden;
margin-top: 20px;
}

.box-heading{
display: inline-block;
color: rgb(230,230,230);
font-size: 21px;
line-height: 23px;
box-sizing: border-box;
overflow: hidden;
padding: 5px;
}

.hr{
height: 1px;
width: calc(100% - 20px);
background: rgba(255,255,255,0.4);
margin: auto;
}

.box-body{
display: inline-block;
color: rgb(210,210,210);
font-size: 16px;
line-height: 16px;
box-sizing: border-box;
padding: 5px;
}

.gal-frame{
width: 100%;
height: 125px;
overflow: hidden;
}

.gal-preview{
width: 100%;
height: auto;
overflow: hidden;
}

.margin-20-top{
margin-top: 20px;
}

.padding-20-top{
padding-top: 20px;
}

.min-height-180{
min-height: 180px;
}

.no-a-style, .no-a-style:hover, .no-a-style:active, .no-a-style:visited, .no-a-style:focus{
color: inherit;
text-decoration: inherit;
}

.gal-album-img { 
display: block;
background: url(../IMG/logo.jpg) no-repeat center center; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
height: 200px; 
position: relative; 
}

.gal-img { 
display: block;
background: url(../IMG/logo.jpg) no-repeat center center; 
-webkit-background-size: cover; 
-moz-background-size: cover; 
-o-background-size: cover; 
background-size: cover; 
height: 150px; 
position: relative; 
}

.more{
float:right;
color:#cccccc;
}
